.navbar-color {
    background-color: rgb(124, 192, 222);
}

.navbar-brand {
    margin-left: 10%;
    color: whitesmoke;
}

.login-box {
  width: 30%;
  background-color: lightgray;
  margin: auto;
  vertical-align: middle;
  margin-top: 10%;
  height: 300px;
}

.account {
    text-decoration: none;
}

.box-input {
    /* background-color: blueviolet; */
    margin: auto;
}

.login-button {
    width: 100%;
    background-color: rgb(24, 102, 135);
    color: white;
}

.forgot {
    margin-left: 50%;
    text-decoration: none;
}

.login-title {
    margin-left: 85px;
    color:rgb(24, 102, 135);
}