
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container > div {
    width: 45%;
    margin: 10px;
  }

  .seventh input {
    width: 400px;
    height: 100px;
    margin-left: -108px;
  }

  .b-color input {
    background-color: #dee2e6;

  }

  .seven{
    margin-left: -108px;
  }

  .my-input-feedback{
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    background-color: #dee2e6;
  }

  .feedbackbutton {
    width: 85%;
    background-color: rgb(124, 192, 222);
    border-style: none;
    margin-left: 27px;
  }

  .feedbackbutton:hover {
    background-color: rgb(120, 192, 222);
  }