.table-size{
    width: 1000px;
    margin: auto;
    margin-top: 200px;
}

.divs div {
    float: left;
    clear: none; 
}

.add-candidate {
    margin-left: 850px;
    background-color: rgb(124, 192, 222);
    cursor: pointer;
}

.add-candidate:hover{
    background-color: rgb(124, 192, 222);
}
